
h1 {
    text-align: center;
}
.bold {
    font-weight: bolder;
}



#foot {
    background-color: rgb(170, 170, 170);
    text-align: center;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}