@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: Roboto, "sans-serif";
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

nav {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
}

img {
  width: 80%;
}
nav > a {
  font-size: 4.5rem;
  width: 25%;
  font-weight: 300;
}

nav ul {
  width: 75%;
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav li {
  font-size: 2rem;
}

nav a {
  margin: 0 10%;
  text-decoration: none;
  color: white;
}
.article1,
.article2 {
  font-size: 1.5rem;
  height: 50vh;
  margin-bottom: 50px;
  width: 48%;
  overflow: hidden;
  margin-left: 50px;
}

.article1 span {
  position: relative;
  right: 41%;
}
/* 
.article2 {
  height: 50vh;
  width: 48%;
} */

.article2 {
  padding-bottom: 50px;
}

footer {
  height: 8vh;
}
